<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>topBar</key>
	<dict>
		<key>add2wenku</key>
		<dict>
			<key>succ</key>
			<string>../common/add2wenku/add2wenku_succ.png</string>
			<key>plus</key>
			<string>../common/add2wenku/add2wenku_plus.png</string>
			<key>highlight</key>
			<string>../common/add2wenku/add2wenku_hi.png</string>
			<key>normal</key>
			<string>../common/add2wenku/add2wenku.png</string>
		</dict>
	</dict>
	<key>bottomBar</key>
	<dict>
		<key>autobuyTipTitleColor</key>
		<string>FFFFFF</string>
		<key>bottomDotTextColor</key>
		<string>FFFFFF</string>
		<key>exitReaderBtnBorderColor</key>
		<string>333333</string>
		<key>exitReaderBtnTextColor</key>
		<string>333333</string>
		<key>radioTextNormalColor</key>
		<string>666666</string>
		<key>popMenuTextColor</key>
		<string>FFFFFF</string>
		<key>progressBtnNormalColor</key>
		<string>333333</string>
		<key>bottomBarNormalTextColor</key>
		<string>333333</string>
		<key>sliderMaxTrackColor</key>
		<string>EEE9E3</string>
		<key>sliderMinTrackColor</key>
		<string>EE6420</string>
		<key>sliderTextColor</key>
		<string>666666</string>
		<key>menuBgColor</key>
		<string>FFFFFF</string>
		<key>tipProgressColor</key>
		<string>f2f2f2</string>
		<key>tipTitleColor</key>
		<string>f2f2f2</string>
	</dict>
	<key>expandPanel</key>
	<dict>
		<key>segmentedControlDividerColor</key>
		<string>b7b7b7</string>
		<key>backgroundColor</key>
		<string>FFFFFF</string>
		<key>blackColor</key>
		<string>333333</string>
		<key>grayColor</key>
		<string>999999</string>
		<key>orangeColor</key>
		<string>EE6420</string>
		<key>catalogCellOfflineLabelTitleColor</key>
		<string>DCC0AF</string>
		<key>bookmarkCellContentColor</key>
		<string>999999</string>
		<key>bookmarkCellDateColor</key>
		<string>999999</string>
		<key>emptyLabelColor</key>
		<string>666666</string>
		<key>switchOnTintColor</key>
		<string>3C76FF</string>
	</dict>
</dict>
</plist>
